<ion-nav-view>
	<ion-view ng-init="abrirProduto()">
		<ion-header-bar class="bar-positive">
			<img src="img/back.png" onclick="location.href='#/produtos-pesquisados'" height="30px" width="30px">
			<h1 class="title">Produto aberto</h1>
		</ion-header-bar>

		<ion-content class="ajuste-altura-lista">  
		<div class="list card">
			  <div class="item item-avatar">
				<img src="img/product.png">
				<h2 style="margin-left:0px !important;">{{nomeProdutoAberto}}</h2>
				<p>{{fabricanteProdutoAberto}}</p>
			  </div>

			<div class="item item-body">
				<h3>Fabricante</h3>
				<p>{{fabricanteProdutoAberto}}</p>
				
				<h3>Tipo</h3>
				<p>{{tipoProdutoAberto}}</p>
			</div>
		</div>
		
		<button class="button button-block button-energized" ng-click="listarEstabelecimentosProssuidores()">
						Listar Estabelecimentos Possuidores
		</button>
		
		<ion-item ng-repeat="estabelecimento in estabelecimentos" 
			 estabelecimento="estabelecimento" class="item-remove-animate">
			{{ estabelecimento.nome}}	
			<div class="quantidade">R${{estabelecimento.preco}}</div>	
		</ion-item>
	  
		</ion-content>
	</ion-view>
</ion-nav-view>		