<ion-view view-title="Cadastre-se">
	<div class="bar bar-header bar-positive">
		<img src="img/back.png" onclick="location.href='#/home'" height="30px" width="30px">
		<h1 class="titulo">Cadastro</h1>
	</div>
	<ion-content class="padding">
		<!-- conteudo -->
		<p class="logo"><img class="logo-index" src="img/CATALOG.png" width="300px" height="80px"></p>
		<div data-ng-init="verificarLogin('cadastro.html')">
			<div class="list">
				 <div class="bloco">
					<p class="nome-campos">Usuario:</p>
						<span class="input-grupo"><span class="ion-person"></span></span>
						<input type="text" name="nome" ng-model="usuario.usuario" class="input-form" placeholder="Catalog">
					<br>
				</div>
				
				<div class="bloco">
					<p class="nome-campos">Email:</p>
						<span class="input-grupo"><span class="ion-at"></span></span>
						<input type="text" name="email" id="email" ng-model="usuario.email" class="input-form" placeholder="email@catalog.com">
					<br>
				</div>	
				
				<div class="bloco">
					<p class="nome-campos">Senha:</p>
						<span class="input-grupo"><span ng-class="{'ion-unlocked':usuario.senha == usuario.confirmarSenha && usuario.senha.length>5}" class="ion-locked"></span></span>
						<input type="password" id="senha" name="senha" ng-model="usuario.senha" class="input-form" placeholder="senha">
					<br>
				</div>
				
				<div class="bloco">
					<p class="nome-campos">Repetir Senha:</p>
						<span class="input-grupo"><span ng-class="{'ion-unlocked':usuario.senha == usuario.confirmarSenha && usuario.confirmarSenha.length>5}" class="ion-locked"></span></span>
						<input type="password" ng-blur="confereSenhaErrada()" ng-change="confereSenhaCerta()" id="repetirSenha" name="repetirSenha" ng-model="usuario.confirmarSenha" class="input-form" placeholder="confirmar senha">
					<br>
				</div>	
				
			</div>
			
			<button class="button button-block button-positive botao" ng-click="cadastrar(usuario)"
					ng-disabled="(usuario.usuario == undefined || usuario.usuario == '') || 
								 (usuario.email == undefined || usuario.email == '')     || 
								 (usuario.senha == undefined || usuario.senha == '')     ||
								 (usuario.confirmarSenha == undefined || usuario.confirmarSenha == '')   ">
				Cadastrar
			</button>
		</div>
	 
	</ion-content>
</ion-view>

