<ion-view view-title="Cadastre-se">
	<ion-content class="padding">
		<!-- conteudo -->
		<img class="icone-login" src="img/iconeCatalog.png" width="80px" height="80px">
		<div ng-controller="UsuarioController" data-ng-init="verificarLogin('cadastro.html')">	<!--angular-->
		
			<div class="list">
				 <label class="item item-input item-stacked-label cadastro">
					<span class="input-label">Usuario</span>
					<input type="text" placeholder="Catalog" id="usuario" ng-model="usuario.nome">
				 </label>
				 
				<label class="item item-input item-stacked-label cadastro">
					<span class="input-label">Email</span> 
					<input  ng-class="{'erro-email': erro}" type="email" placeholder="catalog@gmail.com" id="email" ng-model="usuario.email">
				</label>
				
				<label class="item item-input item-stacked-label cadastro">
					<span class="input-label">Senha</span>
					<input type="password" placeholder="senha" id="senha" ng-model="usuario.senha">
				</label>	
				
				<label class="item item-input item-stacked-label cadastro">
					<span class="input-label">Confirmar Senha</span>
					<input type="password" placeholder="Confirmar senha" id="confirmarSenha" ng-model="usuario.confirmarSenha">
				</label>	
			</div>
			
			<button class="button button-block button-positive" ng-click="cadastrar(usuario)">
			  Cadastrar
			</button>
			
		</div>
	 
	</ion-content>
</ion-view>

