<ion-view view-title="Cadastre-se">
	<ion-content class="padding">
		<!-- conteudo -->
		<p class="logo"><img class="logo-index" src="img/CATALOG.png" width="300px" height="80px"></p>
		<div data-ng-init="verificarLogin('cadastro.html')">
			<div class="list">
				 <label class="item item-input item-stacked-label campo-texto">
					<span class="input-label">Usuario</span>
					<input type="text" placeholder="Catalog" id="usuario" ng-model="usuario.nome">
				 </label>
				 
				<label class="item item-input item-stacked-label campo-texto">
					<span class="input-label">Email</span> 
					<input  ng-class="{'erro-email': erro}" type="email" placeholder="email@catalog.com" id="email" ng-model="usuario.email">
				</label>
				
				<label class="item item-input item-stacked-label campo-texto">
					<span class="input-label">Senha</span>
					<input type="password" placeholder="senha" id="senha" ng-model="usuario.senha">
				</label>	
				
				<label class="item item-input item-stacked-label campo-texto">
					<span class="input-label">Confirmar Senha</span>
					<input type="password" placeholder="Confirmar senha" id="confirmarSenha" ng-model="usuario.confirmarSenha">
				</label>	
			</div>
			
			<button class="button button-block button-positive" ng-click="cadastrar(usuario)">
				Cadastrar
			</button>
		</div>
	 
	</ion-content>
</ion-view>

