<script id="logar.html" type="text/ng-template">
  <ion-view view-title="Entrar">
	<ion-content class="padding">
		
		<!-- conteudo -->
		<img class="icone-login" src="img/iconeCatalog.png" width="80px" height="80px">
	
		<!--angular-->
		<div ng-controller="UsuarioController" data-ng-init="verificarLogin('login.html')">

			<div class="list">
			  <label class="item item-input logar">
				<span class="input-label">Email</span>
				<input type="email" id="email" ng-model="usuario.email">
			  </label>
			  <label class="item item-input logar">
				<span class="input-label">Senha</span>
				<input type="password" id="senha" ng-model="usuario.senha">
			  </label>
			</div>
		
			<button class="button button-block button-positive" ng-click="logar(usuario)">
			  Logar
			</button>
			
			<button class="button button-block button-energized" onclick="location.href='principal.html'">
			  Esqueceu a senha?
			</button>
			
		</div>	<!--angular-->	
	
		<img class="face" src="img/bt_facebook.png" width="30px" height="30px">
		<img class="gmail "src="img/google-plus-icon.png" width="30px" height="30px">
	</ion-content>
  </ion-view>
  </script>

	
	