<ion-view view-title="Entrar">
    <ion-content class="padding">		
		<p class="logo"><img class="logo-index" src="img/CATALOG.png" width="300px" height="80px"></p>
		<div data-ng-init="verificarLogin('login.html')">
			<div class="list">
				<div class="bloco">
					<p class="nome-campos">Email:</p>
						<span class="input-grupo"><span class="ion-at"></span></span>
						<input type="text" name="nome" ng-model="usuario.email" class="input-form">
					<br>
				</div>
				
				<div class="bloco">
					<p class="nome-campos">Senha:</p>
						<span class="input-grupo"><span class="ion-locked"></span></span>
						<input type="password" name="senha" ng-model="usuario.senha" class="input-form">
					<br>
				</div>	
			</div>
		
			<button class="button button-block button-positive botao" ng-click="logar(usuario)"
					ng-disabled="(usuario.email == undefined || usuario.email == '') || 
								 (usuario.senha == undefined || usuario.senha == '') ">
				Logar
			</button>
			
			<button class="button button-block button-energized botao" ng-click="modal.show()">
				Esqueceu a senha?
			</button>		
		</div>
	
		<img class="face" src="img/bt_facebook.png" width="30px" height="30px">
		<img class="gmail "src="img/google-plus-icon.png" width="30px" height="30px">
	</ion-content>
</ion-view>
