<ion-nav-view>
	<ion-view ng-init="verificarLogin('principal.html')">
		<!-- header -->	
		<div class="bar bar-header bar-positive">
			<img src="img/iconeCatalog2.png" height="30px" width="30px">
			<h1 class="titulo">Catalog</h1>
		</div>

		<!-- conteudo -->
		<ion-content>
			<div class="list">
				<a class="item item-thumbnail-left" href="#">
					<img src="img/check.png">
					<h2>Checkin</h2>
					<p class="sub-titulo">Realize seu checkin</p>
				</a>
			
				<a class="item item-thumbnail-left" href="#/listas">
					<img src="img/list.png">
					<h2>Listas</h2>
					<p class="sub-titulo">Crie suas listas</p>
				</a>
				
				<a class="item item-thumbnail-left" href="#/estabelecimentos">
					<img src="img/estabelecimento.png">
					<h2>Estabelecimentos</h2>
					<p class="sub-titulo">Encontre estabelecimentos</p>
				</a>
			
				<a class="item item-thumbnail-left" ng-click="modalPesquisar.show()">
					<img src="img/product.png">
					<h2>Produtos</h2>
					<p class="sub-titulo">Procure por produtos</p>
				</a>
			</div>
		</ion-content>
		<!-- fotter -->
		<div class="tabs-striped tabs-color-assertive">
			<div class="tabs">
				<a class="tab-item active largura-footer" ng-click="modal.show()">
					<img class="icon-footer" src="img/user.png" width="35px" height="35px">
				</a>
				<a class="tab-item largura-footer" ng-click="logout()">
					<img class="icon-footer-secundario" src="img/sair.png" width="35px" height="35px">
				</a>
			</div>  
		</div>
	</ion-view>
</ion-nav-view>					