<ion-nav-view>
	<ion-view ng-init="verificarLogin('produtos-lista.html')">
		<ion-header-bar class="bar-positive">
			<img src="img/back.png" onclick="location.href='#/listas'" height="30px" width="30px">
			<div class="buttons">
				<button class="button button-icon icon ion-gear-b"
					ng-click="data.showDelete = !data.showDelete; data.showReorder = false">
				</button>
			</div>
			<h1 class="title">{{titulo}}</h1>
		</ion-header-bar>

		<ion-content class="ajuste-altura-lista">  
			<ion-list show-delete="data.showDelete">
			<div class="sem-lista-cadastrada" ng-show="produtos.length == 0">Nenhum Produto</div> 
				<ion-item ng-repeat="produto in produtos" 
					 produto="produto" class="item-remove-animate">
					{{ produto.nomeProduto }}	
					<div class="quantidade">{{produto.quantidade}} Quant</div>	
					<ion-delete-button class="ion-close-round" 
						 ng-click="removerProduto(produto)">
					</ion-delete-button>
				</ion-item>
			</ion-list>	
		</ion-content>
		
		<div class="botao-flutuante" ng-click="abrirModalPesquisa()">
			<div class="ion-search"></div>
		</div>
				
		<!-- fotter -->
		<div class="tabs-striped tabs-color-assertive">
			<div class="tabs">
				<a class="tab-item active" ng-click="modalCheckin.show()">
					<img class="icon-footer" src="img/check.png" width="35px" height="35px">
				</a>
				<a class="tab-item" href="#/menu">
					<img class="icon-footer-secundario" src="img/logo.png" width="35px" height="35px">
				</a>
				<a class="tab-item" href="#/listas">
					<img class="icon-footer-secundario" src="img/list.png" width="35px" height="35px">
				</a>
			</div>
		</div>
	</ion-view>
</ion-nav-view>		