<ion-nav-view>
	<ion-view ng-init="pesquisarProdutosEstabelecimento()">
		<ion-header-bar class="bar-positive">
			<img src="img/back.png" onclick="location.href='#/estabelecimentos'" height="30px" width="30px">
			<h1 class="title">{{nome}}</h1>
		</ion-header-bar>


		<ion-content class="ajuste-altura-produto-estabelecimento ">  
			<div id="googleMap" style="width:100%;height:380px;"></div>
			<img class="sem-localizacao-img" id="imgSemLocalizacao">
			<h2 class="produtos-do-estabelecimento">Produtos do Estabelecimento</h2>
			<ion-list>
				<div class="sem-lista-cadastrada" ng-show="produtos.length == 0">Nenhum produto Cadastrado</div>
				<ion-item ng-repeat="produto in produtos" class="item-remove-animate" href="">
					{{ produto.nomeProduto }}	
					<span class="quantidade">R{{produto.preco | currency}}</span>	
				</ion-item>
			</ion-list>	
		</ion-content>

		<!-- fotter -->
		<div class="tabs-striped tabs-color-assertive">
			<div class="tabs">
				<a class="tab-item active" ng-click="modalCheckin.show()">
					<img class="icon-footer" src="img/check.png" width="35px" height="35px">
				</a>
				<a class="tab-item" href="#/menu">
					<img class="icon-footer-secundario" src="img/logo.png" width="35px" height="35px">
				</a>
				<a class="tab-item" href="#/listas">
					<img class="icon-footer-secundario" src="img/list.png" width="35px" height="35px">
				</a>
			</div>
		</div>
	</ion-view>
</ion-nav-view>		