<!DOCTYPE html>
<html ng-app="ionicApp">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<title>Catalog</title>
	   <!--links-->
		<link href="lib/ionic/css/ionic.css" rel="stylesheet">
		<script src="lib/ionic/js/ionic.bundle.js"></script>	
		<link href="css/lista.css" rel="stylesheet">
		<script src="js/produtos-lista.js"></script>
		
	</head>

	<body ng-controller="MyCtrl">
    
		<ion-header-bar class="bar-positive">
		  <div class="buttons">
			<button class="button button-icon icon ion-ios-minus-outline"
			  ng-click="data.showDelete = !data.showDelete; data.showReorder = false"></button>
		  </div>
		  <h1 class="title">Produtos da Lista</h1>
		  <div class="buttons">
			<button class="button" ng-click="data.showDelete = false; data.showReorder = !data.showReorder">
				Ordenar
			</button>
		  </div>
		</ion-header-bar>

		<ion-content>

		  <!-- The list directive is great, but be sure to also checkout the collection repeat directive when scrolling through large lists -->
		  
		  <ion-list show-delete="data.showDelete" show-reorder="data.showReorder">

			 <div class="item item-divider">
				Super Mercado
			 </div>
			<ion-item ng-repeat="item in items" 
					  item="item"
					  href="#/{{item.id}}" class="item-remove-animate">
			  {{ item.nome }}
			  <ion-delete-button class="ion-minus-circled" 
								 ng-click="onItemDelete(item)">
			  </ion-delete-button>
			  <ion-option-button class="button-assertive"
								 ng-click="edit(item)">
				Editar
			  </ion-option-button>
			  <ion-reorder-button class="ion-navicon" on-reorder="moveItem(item, $fromIndex, $toIndex)"></ion-reorder-button>
			</ion-item>
			
			<div class="item item-divider">
				Farmácia
			</div>
			 
			 <ion-item ng-repeat="farmacia in farmacias" 
					  farmacia="farmacia"
					  href="#/{{farmacia.id}}" class="item-remove-animate">
			  {{ farmacia.nome }}
			  <ion-delete-button class="ion-minus-circled" 
								 ng-click="onItemDelete(farmacia)">
			  </ion-delete-button>
			  <ion-option-button class="button-assertive"
								 ng-click="edit(farmacia)">
				Editar
			  </ion-option-button>
			  <ion-reorder-button class="ion-navicon" on-reorder="moveItem(farmacia, $fromIndex, $toIndex)"></ion-reorder-button>
			</ion-item>

		  </ion-list>
		</ion-content>
				
		<!-- fotter -->
		<div class="tabs-striped tabs-color-assertive">
			<div class="tabs">
			  <a class="tab-item active" href="#">
				<img class="icon-footer" src="img/check.png" width="35px" height="35px">
			  </a>
			  <a class="tab-item" href="listas.html">
				<img class="icon-footer-secundario" src="img/list.png" width="35px" height="35px">
			  </a>
			  <a class="tab-item" href="#">
				<img class="icon-footer-secundario" src="img/add.png" width="35px" height="35px">
			  </a>
			</div>
		</div>
		
	</body>
</html>
