<ion-nav-view>
	<ion-view ng-init="verificarLogin('produtos-lista.html')">
		<ion-header-bar class="bar-positive">
			<div class="buttons">
				<button class="button button-icon icon ion-ios-minus-outline" ng-click="data.showDelete = !data.showDelete; data.showReorder = false"></button>
			</div>
			<h1 class="title">Produtos da Lista</h1>
			<div class="buttons">
				<button class="button" ng-click="data.showDelete = false; data.showReorder = !data.showReorder">
					Ordenar
				</button>
			</div>
		</ion-header-bar>

		<ion-content class="ajuste-altura-lista">  
			<ion-list show-delete="data.showDelete" show-reorder="data.showReorder">
				<ion-item ng-repeat="produto in produtos" 
					 produto="produto" class="item-remove-animate">
					{{ produto.nome }}	
					<div class="quantidade">{{produto.quantidade}}Quant</div>	
					<ion-delete-button class="ion-minus-circled" 
								 ng-click="onItemDelete(produto)">
					</ion-delete-button>
					
					<ion-option-button class="button-assertive"
								 ng-click="edit(produto)">Editar
					</ion-option-button>
					<ion-reorder-button class="ion-navicon" on-reorder="moveItem(produto, $fromIndex, $toIndex)"></ion-reorder-button>
				</ion-item>
			</ion-list>	
		</ion-content>
		
		<div class="botao-flutuante" ng-click="modal.show()">
			<div class="ion-plus-round"></div>
		</div>
				
		<!-- fotter -->
		<div class="tabs-striped tabs-color-assertive">
			<div class="tabs">
				<a class="tab-item active" href="#">
					<img class="icon-footer" src="img/check.png" width="35px" height="35px">
				</a>
				<a class="tab-item" href="#/menu">
					<img class="icon-footer-secundario" src="img/logo.png" width="35px" height="35px">
				</a>
				<a class="tab-item" href="#/listas">
					<img class="icon-footer-secundario" src="img/list.png" width="35px" height="35px">
				</a>
			</div>
		</div>
	</ion-view>
</ion-nav-view>		