<!-- modal para adicionar estabelecimento -->
<ion-modal-view>
	<ion-header-bar class="bar bar-header bar-positive">
		<h1 class="title">Cadastrar Estabelecimento</h1>
		<button class="button button-clear button-primary" ng-click="estabelecimentoModal.hide()">Cancelar</button>
	</ion-header-bar>

	<ion-content class="padding">
		<img class="icon-estab-atualizar" src="img/estabelecimento.png" width="80px" height="80px">
		
		<div class="list-estab-atualizar">
			<form>
				<div class="bloco">
					<p class="nome-campos">Nome Do Estabelecimento:</p>
					<span class="input-grupo"><span class="ion-ios-cart"></span></span>
					<input type="text" name="nome" id="nome" class="input-form" placeholder="Entre com o nome">
					<br>
				</div>

				<div class="bloco">
					<p class="nome-campos">Rua:</p>
					<span class="input-grupo"><span class="ion-android-map"></span></span>
					<input type="text" name="rua" id="logradouro" class="input-form" placeholder="Entre com a rua">
					<br>
				</div>

				<div class="bloco">
					<p class="nome-campos">Cidade:</p>
					<span class="input-grupo"><span class="ion-map"></span></span>
					<input type="text" name="cidade" id="cidade" class="input-form" placeholder="Entre com a cidade">
					<br>
				</div>

				<div class="bloco">
					<p class="nome-campos">Estado:</p>
					<span class="input-grupo"><span class="ion-android-globe"></span></span>
					<input type="text" name="estado" id="estado" class="input-form" placeholder="Entre com o estado">
					<br>
				</div>

				<div class="bloco">
					<p class="nome-campos">Numero:</p>
					<span class="input-grupo"><span class="ion-ios-compose"></span></span>
					<input type="number" class="input-form" id="numero" name="numero" placeholder="Entre com o numero...">
					<br>
				</div>

				<div class="bloco">
					<p class="nome-campos">CEP :</p>
					<span class="input-grupo"><span class="ion-home"></span></span>
					<input type="text" ng-model="cep" class="input-form" maxlength="9" size="9" name="cep" ng-change="getEnderecoCep(cep)" id="cep" placeholder="Entre com o CEP">
				</div>

				<div class="bloco">
					<p class="nome-campos img">Imagem:</p>
					<div class="input-file">
					<input type="file" id="file">
				</div>

				<button class="button button-full button-positive botao" 
					ng-click="cadastrarEstabelecimento()"	
					ng-disabled="(cep == undefined || cep == '') ">
						Cadastrar
				</button>
			</form>
		</div>
	</ion-content>
</ion-modal-view>
