<ion-modal-view>
  
	<ion-header-bar class="bar bar-header bar-positive">
	   <h1 class="title">Pesquisar Produtos</h1>
	   <button class="button button-clear button-primary" ng-click="modalPesquisar.hide()">Cancelar</button>
	</ion-header-bar>
	
	<ion-content class="padding">
	<img class="icon-estab-atualizar" src="img/product.png" width="80px" height="80px">
		<div class="list-estab-atualizar">
			<form>
				<div class="bloco">
					<p class="nome-campos">Nome Do Produto:</p>
					<span class="input-grupo"><span class="ion-ios-cart"></span></span>
					<input type="text" ng-model="produto.nome" class="input-form" placeholder="Nome do Produto...">
					<br>
				</div>
				
				<div class="bloco">
					<p class="nome-campos">Marca/Fabricante:</p>
					<span class="input-grupo"><span class="ion-pricetags"></span></span>
					<input type="text" ng-model="produto.marca" class="input-form" placeholder="Marca do Produto...">
					<br>
				</div>
				
				<div class="bloco">
					<p class="nome-campos">Tipo:</p>
					<span class="input-grupo"><span class="ion-ios-compose"></span></span>
						<select ng-model="produto.tipo" class="select">
						   <option value="0">Todos</option>
						   <option value="1">Alaska</option>
						   <option value="2">American Samoa</option>
						</select>
					<br>
				</div>

				<button class="button button-full button-positive botao" ng-click="pesquisarProduto(produto)"
					ng-disabled="(produto.nome == undefined || produto.nome == '') &&
								 (produto.marca == undefined || produto.marca == '') && 
								 (produto.tipo == undefined || produto.tipo == '')">
								 Pesquisar</button>
			</form>
		</div>
	</ion-content>
</ion-modal-view>
