h1.titulo{
  color: rgb(255, 255, 255);
  font-family: segoe UI Black;
  font-weight: bold;
  font-size: 29px;
  text-align: left;
  margin-top: -3px;
  margin-left: 10px;
}

.list {
  margin-top: 45px;
}

.tabs-striped.tabs-color-assertive .tab-item.tab-item-active, .tabs-striped.tabs-color-assertive .tab-item.active, .tabs-striped.tabs-color-assertive .tab-item.activated {
  margin-top: -2px;
  color: orange;
  border: 0 solid orange;
  border-top-width: 2px;
}