/*-- ARQUIVO INDEX.HTML --*/
img.logo-index {
  margin-top: 130px;
  margin-left: 18%;
}

@media screen and (max-width: 430px) {
    img.logo-index {
	  width:200px;
	  height:50px;
	}

}

iframe {
  border: 9px solid #005BB3 !important;
}

.inputs{
  color:orange !important;
  font-size:18px !important;
}

p.logo {
  text-align: center;
  margin-right: 15%;
}

/*-- ARQUIVO LOGIN.HTML --*/

h1.titulo{
  color: rgb(255, 255, 255);
  font-family: segoe UI Black;
  font-weight: bold;
  font-size: 29px;
  text-align: left;
  margin-top: -3px;
  margin-left: 10px;
}

input.face {
  margin-left: 41% !important;
}

img.icone-login {
  margin-top: 90px;
  margin-left: 40%;
}

.campo-texto{
  margin: 0px auto;
  margin-bottom: 10px;
  max-width: 500px;
}

img.face {
  margin-left: 42%;
}

p.svg {
  position: absolute;
  top: 30px;
  left: 60px;
}

/*-- ARQUIVO CADASTRAR.HTML --*/

.erro-email {
    color: red !important;
    border: 1px solid red !important;
}

.senha-correta{
  border: 1px solid green !important;
}

.senha-errada{
  border: 1px solid red !important;
}

/*-- ARQUIVO PRINCIPAL.HTML --*/
a.item {
  color: inherit;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.57);
  margin-top: -2px;
  background: linear-gradient(rgb(246, 245, 245), rgb(235, 236, 236));
}

img.icon-user-atualizar {
  margin-top: 15px;
  margin-left: 41%;
}

a.item.item-thumbnail-left {
  box-shadow: 2px 2px 7px -2px;
}

p.sub-titulo {
  color: #FFC300;
  font-weight: bold;
  font-size: 13px;
  margin-left: -18px;
  background: transparent !important;
}

.item h2 {
  margin: 0 0 2px 0;
  font-size: 20px;
  font-weight: normal;
  margin-left: -18px;
  background: transparent !important;
}

.largura-footer{
max-width: 100%;
}

label.item.item-input.item-stacked-label {
  background-color: white;
}

.list {
  margin-top: 45px;
}

.list-user-atualizar{
  margin-top: 20px;
}

img.icon-footer{
  margin-top: 5px;
}

img.icon-footer-secundario {
  opacity: 0.7;
  margin-top: 5px;
}

img.icon-footer-secundario:active {
  opacity: 1.0;
  margin-top: 5px;
}

.tabs-striped.tabs-color-assertive .tab-item.tab-item-active, .tabs-striped.tabs-color-assertive .tab-item.active, .tabs-striped.tabs-color-assertive .tab-item.activated {
  margin-top: -2px;
  color: orange;
  border: 0 solid orange;
  border-top-width: 2px;
}

.button.button-block, .button.button-full {
  margin:0px auto;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 500px;
}
button.button-block, button.button-full, .button-full > button.button, input.button.button-block {
  width: 100%;
}
/*-- ARQUIVO ESTABELECIMENTO.HTML --*/
img.icone-mapa{
  float: right;
  margin-top: -40px;
}

img#imgSemLocalizacao {
    top: 44px;
    position: absolute;
    width: 100%;
    height: 336px;
}

.ajuste-altura-produto-estabelecimento {
  top: 385px;
}

h2.produtos-do-estabelecimento , h2.texto-pesquisa-produto-lista{
  top: -25px;
  position: absolute;
  font-size: 18px;
  color: #005BB3;
  margin-left: 3px;
  font-weight: bold;
}

h2.texto-pesquisa-produto-lista{
top: 100px !important;
}

p.nome-campos.img {
  margin-top: 15px;
}
input#file {
  color: #073664;
  font-weight: bold;
}

input.input-form , select.select{
  margin: 0px auto;
  display: block;
  width: 100%;
  max-width: 500px;
  height: 38px;
  padding: 6px 50px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #FF5300;
  font-size: 17px;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  z-index: -2;
}

.input-grupo {
  margin-left: -1px;
  padding: 7px 11px;
  border: 1px solid #ccc;
  width: 40px;
  height: 38px;
  position: absolute;
  border-radius: 4px;
  background-color: #eee;
  z-index: 1;
}

.bloco{
  width: 100%;
  max-width: 500px;
  margin: 0px auto;
  display: block;
}

p.nome-campos {
  margin-bottom: 0px;
  color: #073664;
  font-weight: bold;
  margin: 0px auto;
  max-width: 500px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

span.ion-ios-cart, span.ion-android-map, span.ion-map, span.ion-android-globe, span.ion-ios-compose, span.ion-home, span.ion-ios-list-outline,
span.ion-at, span.ion-locked, span.ion-person, span.ion-unlocked, span.ion-lock-combination, span.ion-ios-email, span.ion-pricetags, span.ion-search,
span.ion-ios-barcode-outline, span.ion-ios-browsers-outline, span.ion-cash{
  font-size: 20px;
  color: orange;
}

.ion-search {
  font-size: 20px;
  color: white;
}

.botao {
  border-radius: 4px;
}

.botao-desabilitado:disabled {
color:red;
}

input.input-form:focus {
  background-color: #EAF5FF;
  border: 1px solid rgba(33, 52, 249, 0.54);;
}

#map {
  width: 100%;
  height: 100%;
}

.scroll {
  height: 100%;
}

.botao-flutuante {
  background-color: orange;
  width: 56px;
  height: 56px;
  position: fixed;
  bottom: 8%;
  left: 5%;
  border-radius: 50%;
  padding: 20px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.ion-plus-round {
  color: white;
  line-height: 56px;
  font-size: 1.5em;
}

.botao-flutuante:hover {
  box-shadow: 0 0 10px 1px rgba(10, 10, 10, 0.32);
}

img.icon-estab-atualizar {
  margin-top: 15px;
  margin-left: 41%;
}

.list-estab-atualizar{
  margin-top: 20px;
}

h2.titulo-estab {
  margin-left: 0px;
  background: transparent !important;
}

p.ng-binding {
  background: transparent !important;
}

/*-- ARQUIVO LISTA.HTML --*/
.item-delete .button.icon {
  color: orange;
  font-size: 24px;
}

.ajuste-altura-lista {
  top: 0px;
}

input.pesquisar-fechado {
  border-radius: 3px;
  padding: 10px;
  width: 3px;
  transition: width 2s;
}

input.pesquisar-aberto {
  width: 285px;
}


.sem-lista-cadastrada {
  color: orange;
  font-size: 20px;
  text-align: center;
  margin-top: 50px;
}

.button.button-assertive {
  border-color: orange;
  background-color: orange;
  color: #fff;
}

.tabs-striped.tabs-color-assertive .tab-item.tab-item-active, .tabs-striped.tabs-color-assertive .tab-item.active, .tabs-striped.tabs-color-assertive .tab-item.activated {
  margin-top: -2px;
  color: orange;
  border: 0 solid orange;
  border-top-width: 2px;
}

.add-lista, .add-produto{
  bottom: 60px;
  position: fixed;
  right: 10px;
}

.item-content.ng-binding {
  color: orange;
  font-size: 17px;
}

img.icon-lista-atualizar {
  margin-top: 15px;
  margin-left: 41%;
  margin-bottom: 15px;
}
/*------------ ARQUIVO PRODUTOSLISTA.HTML---------------*/
.quantidade.ng-binding {
  width: auto;
  float: right;
  color: blue;
  font-size: 100%;
  font-weight: bold;
}

p.texto-explicativo-produto {
  color: orange;
  top: 157px;
  position: absolute;
  font-size: 17px;
}

.produtos-encontrados {
  top: 155px;
  position: absolute;
  width: 100%;
}

/*----------- ARQUIVO CHECKIN --------------------------*/
p.preco {
    margin-top: -25px;
    float: right;
    margin-left: 314px;
    color: blue;
    font-weight: bold;
    font-size: 16px;
    background: transparent !important;
}

p.quantidade-checkin {
    background: transparent !important;
    font-size: 15px;
}

h2.total {
    color: #073664;
}


