/*-- ARQUIVO INDEX.HTML --*/
img.logo-index {
  margin-top: 130px;
  margin-left: 18%;
}

p.logo {
  text-align: center;
  margin-right: 15%;
}

/*-- ARQUIVO LOGIN.HTML --*/

h1.titulo{
  color: rgb(255, 255, 255);
  font-family: segoe UI Black;
  font-weight: bold;
  font-size: 29px;
  text-align: left;
  margin-top: -3px;
  margin-left: 10px;
}

img.icone-login {
  margin-top: 90px;
  margin-left: 40%;
}

.campo-texto{
  margin: 0px auto;
  margin-bottom: 10px;
  max-width: 500px;
}

img.face {
  margin-left: 42%;
}

p.svg {
  position: absolute;
  top: 30px;
  left: 60px;
}

/*-- ARQUIVO CADASTRAR.HTML --*/

.erro-email{
  border: 2px solid red !important;
}

/*-- ARQUIVO PRINCIPAL.HTML --*/
a.item {
  color: inherit;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.57);
  margin-top: -2px;
  background: linear-gradient(rgb(246, 245, 245), rgb(235, 236, 236));
}

img.icon-user-atualizar {
  margin-top: 15px;
  margin-left: 41%;
}

a.item.item-thumbnail-left {
  box-shadow: 2px 2px 7px -2px;
}

p.sub-titulo {
  color: #FFC300;
  font-weight: bold;
  font-size: 13px;
  margin-left: -18px;
}

.item h2 {
  margin: 0 0 2px 0;
  font-size: 20px;
  font-weight: normal;
  margin-left: -18px;
}

.largura-footer{
max-width: 100%;
}

label.item.item-input.item-stacked-label {
  background-color: white;
}

.list {
  margin-top: 45px;
}

.list-user-atualizar{
  margin-top: 20px;
}

img.icon-footer{
  margin-top: 5px;
}

img.icon-footer-secundario {
  opacity: 0.7;
  margin-top: 5px;
}

img.icon-footer-secundario:active {
  opacity: 1.0;
  margin-top: 5px;
}

.tabs-striped.tabs-color-assertive .tab-item.tab-item-active, .tabs-striped.tabs-color-assertive .tab-item.active, .tabs-striped.tabs-color-assertive .tab-item.activated {
  margin-top: -2px;
  color: orange;
  border: 0 solid orange;
  border-top-width: 2px;
}

.button.button-block, .button.button-full {
  margin:0px auto;
  margin-top: 10px;
  margin-bottom: 10px;
  max-width: 500px;
}
button.button-block, button.button-full, .button-full > button.button, input.button.button-block {
  width: 100%;
}
/*-- ARQUIVO ESTABELECIMENTO.HTML --*/
img.icone-mapa{
  float: right;
  margin-top: -40px;
}

#map {
  width: 100%;
  height: 100%;
}

.scroll {
  height: 100%;
}

.botao-flutuante {
  background-color: orange;
  width: 56px;
  height: 56px;
  position: fixed;
  bottom: 8%;
  left: 5%;
  border-radius: 50%;
  padding: 20px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.ion-plus-round {
  color: white;
  line-height: 56px;
  font-size: 1.5em;
}

.botao-flutuante:hover {
  box-shadow: 0 0 10px 1px rgba(10, 10, 10, 0.32);
}

img.icon-estab-atualizar {
  margin-top: 15px;
  margin-left: 41%;
}

.list-estab-atualizar{
  margin-top: 20px;
}

h2.titulo-estab {
  margin-left: 0px;
}

/*-- ARQUIVO LISTA.HTML --*/
.item-delete .button.icon {
  color: orange;
  font-size: 24px;
}

.button.button-assertive {
  border-color: orange;
  background-color: orange;
  color: #fff;
}

.tabs-striped.tabs-color-assertive .tab-item.tab-item-active, .tabs-striped.tabs-color-assertive .tab-item.active, .tabs-striped.tabs-color-assertive .tab-item.activated {
  margin-top: -2px;
  color: orange;
  border: 0 solid orange;
  border-top-width: 2px;
}

.add-lista, .add-produto{
  bottom: 60px;
  position: fixed;
  right: 10px;
}

.item-content.ng-binding {
  color: orange;
  font-size: 17px;
}

img.icon-lista-atualizar {
  margin-top: 15px;
  margin-left: 41%;
  margin-bottom: 15px;
}

