.item-delete .button.icon {
  color: orange;
  font-size: 24px;
}

.button.button-assertive {
  border-color: orange;
  background-color: orange;
  color: #fff;
}

.item-content.ng-binding {
  color: orange;
  font-size: 17px;
}

.tabs-striped.tabs-color-assertive .tab-item.tab-item-active, .tabs-striped.tabs-color-assertive .tab-item.active, .tabs-striped.tabs-color-assertive .tab-item.activated {
  margin-top: -2px;
  color: orange;
  border: 0 solid orange;
  border-top-width: 2px;
}

.add-lista, .add-produto{
  bottom: 60px;
  position: fixed;
  right: 10px;
}

img.img-add-lista{
  transition: height 2s, width 2s;
  height: 65px;
  width: 65px;
}


img.icon-lista-atualizar {
  margin-top: 15px;
  margin-left: 41%;
}

.list-lista-atualizar{
  margin-top: 20px;
}

.sem-lista-cadastrada {
  font-size: 18px;
  color: #FF5300;
  position: absolute;
  top: 20px;
  left: 20px;
}
