.item-delete .button.icon {
  color: orange;
  font-size: 24px;
}

.button.button-assertive {
  border-color: orange;
  background-color: orange;
  color: #fff;
}

.item-content.ng-binding {
  color: orange;
  font-size: 17px;
}

.tabs-striped.tabs-color-assertive .tab-item.tab-item-active, .tabs-striped.tabs-color-assertive .tab-item.active, .tabs-striped.tabs-color-assertive .tab-item.activated {
  margin-top: -2px;
  color: orange;
  border: 0 solid orange;
  border-top-width: 2px;
}